@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #c7c7c7;
}
.unclicable {
    pointer-events: none;
    opacity: 0.5; 
    cursor: not-allowed;
  }

  p.wordsInside_Words_listedWord {
    margin-top: 0;
    margin-bottom: 0;
  }

  .div_style {
    position: relative;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hidden {
    display: none;
    pointer-events: none;
  }

  .technology_word{
    font-weight: bold;
  }

:root {
  --background-color_germanAPP: #7C93C3;
  --background-color_lavinoffka: #9EB8D9;
  --background-color_jakubhanzl: #EEF5FF;
  --background-color_api: #A25772;
  --background-color_python: #7C93C3;
}
  
  .full_bleed-german{
    box-shadow: 0 0 0 100vmax var(--background-color_germanAPP);
    clip-path: inset(0 -100vmax);
  }
  .full_bleed-lavinoffka{
    box-shadow: 0 0 0 100vmax var(--background-color_lavinoffka);
    clip-path: inset(0 -100vmax);
  }
  .full_bleed-jakubhanzl{
    box-shadow: 0 0 0 100vmax var(--background-color_jakubhanzl);
    clip-path: inset(0 -100vmax);
  }
  .full_bleed-api{
    box-shadow: 0 0 0 100vmax var(--background-color_api);
    clip-path: inset(0 -100vmax);
  }
  .full_bleed-python{
    box-shadow: 0 0 0 100vmax var(--background-color_python);
    clip-path: inset(0 -100vmax);
  }

  .project_section{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .gallery_section{
    padding-bottom: 80px;
  }

  .lavinoffka_picture{
    cursor: zoom-in;
    width: 100%;
    margin-top: 5px; 
    margin-bottom: 5px; 
  }
  .project_name{
    color: #211e1e;
    font-size: 32px;
  }
  .gif_video_zoom{
    cursor: zoom-in;
  }
    /*//////////////////////////////////////////*/
  /*/////////// CV_galerry style ///////////////*/
  /*////////////////////////////////////////////*/
  .div {
    cursor: zoom-out;
    text-align: center;
    background: rgb(222, 222, 222);
    padding: 10px;
    height: 80vh;
    width: 80vw;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-size: 80% auto;
    background-repeat: no-repeat;
    background-position: center center;
    display: fixed;
    border: 1px solid black;
    border-radius: 15px;
    transition: opacity 0.5s ease-in-out; /* Add transition for opacity */
    opacity: 0; /* Set initial opacity to 0 */
  }
  .div.show {
    opacity: 1; /* Set opacity to 1 for the fade-in effect */
  }
  .closetext {
    color: red;
    font-size: 70px;
    opacity: 0.3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }


  /*////////////////////////////////////////////*/
  /*/////////// POP UP styles //////////////////*/
  /*////////////////////////////////////////////*/
  /* Popup container - can be anything you want */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid black;
  background-color: #d4bc43;
  padding: 10px;
  border-radius: 10px;
  /* margin-left: 50px; */
  margin-right: 150px;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #d4bc43;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


/* responsivity *********************/
/* gif jakubhanzl.com responzivity***/
@media (max-width: 800px) {
  .gif_video {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .lavinoffka_picture{
    cursor: default;
  }
}